body {
  background-color: #eeeeee;
}
.title{
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
.videotitle {
  text-decoration-style: solid;
  text-shadow: 0px 0px 2px black;
}
iframe {
  text-align: center;
}
p{
  text-align: center;
}
