.nav{
  background-color: teal;
  text-decoration-style: solid;
}
body {
  background-color: #eeeeee;
}
.centered{
  text-align: center;
}
.videotitle {
  text-decoration-style: solid;
  text-align: center;
}
.aligncenter {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
